* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #6a11cb, #2575fc);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {
    background: white;

    width: 100%;
    max-width: 650px;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;

    color: #4b0082;

    margin-bottom: 25px;
}

.topo {
    display: flex;

    justify-content: space-between;

    margin-bottom: 10px;

    color: #555;

    font-weight: bold;
}

.barra {
    width: 100%;

    height: 10px;

    background: #ddd;

    border-radius: 10px;

    overflow: hidden;

    margin-bottom: 25px;
}

#progresso {
    width: 10%;

    height: 100%;

    background: #6a11cb;

    transition: 0.3s;
}

#pergunta {
    font-size: 23px;

    color: #222;

    margin-bottom: 20px;
}

#opcoes {
    display: flex;

    flex-direction: column;

    gap: 12px;
}

/* ALTERNATIVAS */

.opcao {
    width: 100%;

    padding: 17px;

    background: #ffffff;

    border: 2px solid #6a11cb;

    border-radius: 10px;

    cursor: pointer;

    font-family: Arial, sans-serif;

    font-size: 19px;

    font-weight: 700;

    color: #000000;

    text-align: left;

    transition: 0.2s;
}

.opcao:hover {
    background: #eee5ff;
}

/* RESPOSTA CERTA */

.opcao.correta {
    background: #a8e6b0;

    border-color: #16852b;

    color: #000000;
}

/* RESPOSTA ERRADA */

.opcao.errada {
    background: #ffaaaa;

    border-color: #b30000;

    color: #000000;
}

/* BOTÕES */

button {
    width: 100%;

    padding: 15px;

    margin-top: 20px;

    border: none;

    border-radius: 10px;

    background: #6a11cb;

    color: white;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #4b0082;
}

button:disabled {
    background: #999;

    cursor: not-allowed;
}

/* RESULTADO */

#resultado {
    text-align: center;
}

#resultado h1 {
    color: #28a745;
}

#pontuacaoFinal {
    margin: 20px 0;

    font-size: 28px;
}

#mensagemFinal {
    font-size: 20px;

    color: #555;

    margin-bottom: 10px;
}

.escondido {
    display: none;
}

/* CELULAR */

@media (max-width: 500px) {

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 25px;
    }

    #pergunta {
        font-size: 20px;
    }

    .opcao {
        font-size: 18px;
        padding: 16px;
    }
}